body {
    background-color: #1e1e1e;
    margin: 0;
    padding: 0;
}

div#nav {
    background-color: #ffffff;
    width: 20%;
    height: 70vh;
    margin-top: 7vh;
    margin-left: 1vw;
    border-radius: 10px;
}

.icon_menu{
    transform: scale(3);
    color: white;
    margin: 0;
    margin-left: 30px;
    margin-top: 25px;
    cursor: pointer;
}

div#map {
    background-color: #d9d9d9;
    position: absolute;
    top: 0;
    right: 0;
    width: 78%;
    height: 80vh;
}

div#map img{
    width: 100%;
    height: 100%;
}

div#rel {
    background-color: #575757;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 78%;
    height: 20vh;
}

@media screen and (max-width: 1200px) {
    div#nav {
        width: 22%;
        height: 65vh;
    }
    div#map, div#rel {
        width: 76%;
    }
    div#rel {
        height: 27vh;
    }
}

@media screen and (max-width: 992px) {
    div#nav {
        width: 25%;
        height: 60vh;
    }
    div#map, div#rel {
        width: 73%;
    }
    div#rel {
        height: 28vh;
    }
}

@media screen and (max-width: 768px) {
    div#nav {
        width: 28%;
        height: 55vh;
    }
    div#map, div#rel {
        width: 70%;
    }
    div#rel {
        height: 30vh;
    }
}
